[Desktop Entry]
Type=Application
Exec=/home/user/Public/.fol/temp.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=soja
Name=soja
Comment[en_IN]=mail
Comment=mail
